@using TanglewoodCandleCo.Wasm.Shared
<form>
    <div class="offcanvas-body">
        <label class="tw-label">First Name</label><br />
        <label class="tw-data">@AccountVm.FirstName</label><br/>

        <label class="tw-label">Last Name</label><br />
        <label class="tw-data">@AccountVm.LastName</label><br />

        @if (AccountVm.RecordtypeId != (int)RecordType.Customers) 
        {
            <label class="tw-label">Business Name</label><br />
            <label class="tw-data">@AccountVm.Fullname</label><br />
        }

        <label class="tw-label">Is Active</label><br />
        <label class="tw-data">@AccountVm.IsActive</label><br />

        <label class="tw-label">Email</label><br />
        <label class="tw-data">@AccountVm.Email</label><br />

        <label class="tw-label">Address 1</label><br />
        <label class="tw-data">@AccountVm.Address1</label><br />
        <label class="tw-label">Address 2</label><br />
        <label class="tw-data">@AccountVm.Address2</label><br />
        <label class="tw-label">City</label><br />
        <label class="tw-data">@AccountVm.City</label><br />
        <label class="tw-label">State</label><br />
        <label class="tw-data">@AccountVm.StateOrProvinceId</label><br />
        <label class="tw-label">Postal Code</label><br />
        <label class="tw-data">@AccountVm.PostalCode</label><br />

        <br />
        <hr />
        <Button Color="ButtonColor.Success" Size="Size.Small" Outline="true" onclick="@(() => Edit(true))">
            <Icon Name="IconName.Floppy" /> Edit
        </Button>
        <Button Color="ButtonColor.Success" Size="Size.Small" Outline="true" onclick="@(() => Edit(false))">
            <Icon Name="IconName.Copy" /> Clone
        </Button>

        <ConfirmDialog @ref="dialog" />
        <Dropdown Size="Size.Small">
            <DropdownToggleButton Color="ButtonColor.Success"> ... </DropdownToggleButton>
            <DropdownMenu>
                <DropdownItem To="#" Type="ButtonType.Button" onclick="@(() => Delete())">
                    <Icon Name="IconName.DashCircleFill" Size="IconSize.None" Color="IconColor.Success" /> Delete
                </DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <br />
        <Tabs EnableFadeEffect="true" NavStyle="NavStyle.Underline">
            <Tab Title="History" IsActive="true">
                <Content>
                    <p class="mt-3">History here</p>
                </Content>
            </Tab>
            <Tab Title="Info">
                <Content>
                    <p class="mt-3">
                        <label class="tw-label">Id:</label>
                        <label class="tw-data">@Account.Id</label><br />
                        <label class="tw-label">Created By:</label>
                        <label class="tw-data">@Account.CreatedBy</label><br />
                        <label class="tw-label">Date Created:</label>
                        <label class="tw-data">@Account.DateCreated</label>
                    </p>
                </Content>
            </Tab>
        </Tabs>

    </div>
</form>

<Offcanvas @ref="offcanvas" Class="tw-popright" Size="OffcanvasSize.Large">
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" Size="Size.Small" @onclick="OnHideOffcanvasClick">Cancel</Button>
    </FooterTemplate>
</Offcanvas>