@page "/accounts"
@page "/accounts/{Type:int}"
@inherits AccountBase
@using TanglewoodCandleCo.Shared.dbo
@using TanglewoodCandleCo.Wasm.Shared;

@if (AccountList == null)
{
    <TwSpinner LoadingName="Account"></TwSpinner>
}
else
{
    <div class="tw-page container-fluid">
        <div class="align-text-top">
            <div class="btn-group float-right">

                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Accounts
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item" onclick="@(() => AddAccount())">
                            <Icon Name="IconName.PlusCircleFill" Size="IconSize.None" Color="IconColor.Success" /> Create
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-title">
                Accounts
            </div>
        </div>

    </div>

    <Grid @ref="accountGrid"
          TItem="Account"
          AllowSorting="true"
          Class="table table-hover"
          Data="AccountList"
          AllowPaging="true"
          PageSize="20"
          AllowRowClick="true"
          OnRowClick="OnRowClick"
          HeaderRowCssClass="bg-success text-white border-bottom-0"
          Responsive="true">
         
        <GridColumn TItem="Account" Context="ac" HeaderText="First Name" PropertyName="FirstName" SortKeySelector="item => item.FirstName">
            <a href="javascript:void(0);" onclick="@(() => ShowAccountDetails(1))">
                @ac.FirstName
            </a>
        </GridColumn>
        <GridColumn TItem="Account" Context="ac" HeaderText="Last Name" PropertyName="LastName" SortKeySelector="item => item.LastName">
            <a href="javascript:void(0);" onclick="@(() => ShowAccountDetails(1))">
                @ac.LastName
            </a>
        </GridColumn>

        <GridColumn TItem="Account" Context="ac" HeaderText="Business Name" PropertyName="BusinessName" SortKeySelector="item => item.Fullname">
            <a href="javascript:void(0);" onclick="@(() => ShowAccountDetails(1))">
                @ac.Fullname
            </a>
        </GridColumn>
        <GridColumn TItem="Account" Context="ac" HeaderText="Type" PropertyName="RecordypeId" SortKeySelector="item => item.RecordtypeId">
            @((RecordType)ac.RecordtypeId)
        </GridColumn>
        <GridColumn TItem="Account" HeaderText="Active" PropertyName="IsActive">
            @context.IsActive
        </GridColumn>
    </Grid>
}

<Offcanvas @ref="offcanvasAdd" Class="tw-popright" Size="OffcanvasSize.Regular" UseStaticBackdrop="true" CloseOnEscape="true">
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" Size="Size.Small" @onclick="() => OnHideOffcanvasClick(true)">Cancel</Button>
    </FooterTemplate>
</Offcanvas>
<Offcanvas @ref="offcanvas" Class="tw-popright" Size="OffcanvasSize.Small" />

<Toasts class="p-3" Messages="messages" StackLength="3" Placement="ToastsPlacement.TopRight" />
<ConfirmDialog @ref="confirmCancelDialog" />
