@using TanglewoodCandleCo.Wasm.Shared
@if (RecordtypeList == null)
{
    <TwSpinner LoadingName="Account" />
}
else
{
    <section class="container-fluid" hidden="@hideChoice">
        <Card Color="CardColor.Secondary" Class="mb-4" Style="width:18rem;">
            <CardHeader>Account Types available</CardHeader>
            <CardBody>
                <ul class="list-group list-group-flush">
                    @foreach (var rt in RecordtypeList)
                    {
                        <li class="list-group-item tw-types">
                            @rt.Name
                            <Tooltip Class="d-inline-block" Title="@rt.SysNotes">
                                <Icon Name="IconName.InfoCircleFill" Size="IconSize.None" Color="IconColor.Info" />
                            </Tooltip>
                        </li>
                    }
                </ul>
                <hr />
                <Dropdown Size="Size.Small">
                    <DropdownToggleButton Color="ButtonColor.Primary">Pick a type</DropdownToggleButton>
                    <DropdownMenu>
                        <DropdownItem Type="ButtonType.Link" onclick="@(() => Select_option(RecordType.Customers))">Customer</DropdownItem>
                        <DropdownItem Type="ButtonType.Link" onclick="@(() => Select_option(RecordType.Suppliers))">Supplier</DropdownItem>
                        <DropdownItem Type="ButtonType.Link" onclick="@(() => Select_option(RecordType.Vendors))">Vendor</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </CardBody>
        </Card>
    </section>

    <section class="container-fluid" hidden="@hideAcctCreation">
        <EditForm Model="AccountVm" OnValidSubmit="Save" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <p>
                <h5 class="tw-heading">@AccountVm.RecordType</h5><hr />
                <ValidationSummary />
                <label class="tw-label" for="salutation">Salutation</label>
                <InputText id="salutation" class="form-control" @bind-Value="AccountVm.SalutationId" placeholder="Salutation ..." />
                <label class="tw-label" for="lastname">First Name</label>
                <InputText id="firstname" class="form-control" @bind-Value="AccountVm.FirstName" placeholder="First Name ..." />
                <label class="tw-label" for="lastname">Last Name *</label>
                <InputText id="lastname" class="form-control" @bind-Value="AccountVm.LastName" placeholder="Last Name ..." />
                <ValidationMessage For="@(() => AccountVm.LastName)" class="text-danger" />
                <label class="tw-label" for="fullname">Full Name</label>
                <InputText id="fullname" class="form-control" @bind-Value="AccountVm.Fullname" placeholder="Fulll Name ..." />
                <label class="tw-label" for="suffix">Suffix</label>
                <InputText id="suffix" class="form-control" @bind-Value="AccountVm.SuffixId" placeholder="Suffix ..." />

                <label class="tw-label" for="email">Email</label>
                <InputText id="email" class="form-control" @bind-Value="AccountVm.Email" placeholder="Email ..." />

                <label class="tw-label" for="address1">Address 1</label>
                <InputText id="address1" class="form-control" @bind-Value="AccountVm.Address1" placeholder="Address 1 ..." />
                <label class="tw-label" for="address2">Address 2</label>
                <InputText id="address2" class="form-control" @bind-Value="AccountVm.Address2" placeholder="Address 2 ..." />

                <label class="tw-label" for="city">City</label>
                <InputText id="city" class="form-control" @bind-Value="AccountVm.City" placeholder="City ..." />
                <label class="tw-label" for="state">State</label>
                <InputText id="state" class="form-control" @bind-Value="AccountVm.StateOrProvinceId" placeholder="State ..." />
                <label class="tw-label" for="postalcode">Postal Code</label>
                <InputText id="postalcode" class="form-control" @bind-Value="AccountVm.PostalCode" placeholder="Postal Code ..." />
                <label class="tw-label" for="country">Country</label>
                <InputText id="country" class="form-control" @bind-Value="AccountVm.CountryId" placeholder="Country ..." />

                <label class="tw-label" for="phone">Phone</label>
                <InputText id="phone" class="form-control" @bind-Value="AccountVm.Phone" placeholder="Phone ..." />
                <label class="tw-label" for="mobile">Mobile</label>
                <InputText id="mobile" class="form-control" @bind-Value="AccountVm.Modile" placeholder="Mobile ..." />
                <label class="tw-label" for="fax">Fax</label>
                <InputText id="fax" class="form-control" @bind-Value="AccountVm.Fax" placeholder="Fax ..." />
                <label class="tw-label" for="other">Other</label>
                <InputText id="other" class="form-control" @bind-Value="AccountVm.Other" placeholder="Other ..." />

                <br />
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" @bind="@AccountVm.IsActive" id="isActive">
                    <label class="form-check-label" for="isActive">Is Active?</label>
                </div>
            </p>
            <hr />
            <ValidationSummary />
            <Button Type="ButtonType.Submit" Color="ButtonColor.Success" Size="Size.Small">
                <Icon Name="IconName.Save2" /> Save
            </Button>
        </EditForm>
    </section>
}
